# http://editorconfig.org
# 需要安装 EditorConfig for VS Code 插件
# vscode 的 prettier 插件优先使用项目根目录下的 editorconfig 配置文件, 所以
# 需要配置 prettier 的 "prettier.useEditorConfig": false

# 告诉 EditorConfig 插件，这是根文件，不用继续往上查找
root = true

# 匹配全部文件
[*]
charset = utf-8                 # 设置字符集
indent_style = space            # 缩进风格, 可选 "space" "tab"
indent_size = 2                 # 缩进的空格数
end_of_line = lf                # 结尾换行符, 可选 "lf"、"cr"、"crlf"
insert_final_newline = true     # 在文件结尾插入新行
trim_trailing_whitespace = true # 删除一行中的前后空格

# 匹配 markdown 文件
[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
